body {
    font-size: 14px;
}
.header {
    font-size: 18px !important;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #666;
}
#coord {
    margin: 0 0 10px 20%;
}
input {
    border-radius: 10px 0 ;
}
input.button {
    background-color: red;
    color:white;
    width:70%;
    margin: 0 0 0 10%;
}